body {
    padding-top: 66px;
}

.form-actions {
    margin-top: 30px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header h1 {
    margin: 0;
}

main {
    min-height: 70vh;
}

.page-footer {
    border-top: 1px solid #eeeeee;
    margin: 23px 0 46px;
    padding-top: 10.5px;
}

.navbar-brand img {
    max-height: 100%;
    display: inline-block;
    transform: translateY(-2px);
    margin-right: 5px;
}

.jumbotron {
    margin-top: 30px;
}

.logo {
    max-height: 110px;
    margin-right: 3em;
}

.page-header-left {
    justify-content: flex-start;
}

.page-header small {
    display: block;
    line-height: 1.2em;
    margin-top: .2em;
    font-size: 50%;
    max-width: 17em;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    font-size: 1.25em;
}

.status i {
    line-height: 1;
    font-style: normal;
}

.status-success {
    background-color: #4CAF50;
}

.status-success i {
    transform: translate(1px, 1px);
}

.status-failure {
    background-color: #e51c23;
    font-size: 1.5em;
}
