<td>{{ item.createdAt | calendar }}</td>
<td>
    <div class="btn btn-primary btn-xs" type="button" data-purpose="copy" data-clipboard-text="{{ item.publicKey }}">
        Copy Public Key
    </div>
</td>
