<div class="container">
    <footer class="page-footer">
        <p class="text-muted">
            <a href="https://github.com/kmohrf/mirror-mirror">
                mirror-mirror
            </a> is released under the terms of the AGPLv3+.
            The <a href="https://thenounproject.com/term/salon-mirror/564089">
                <em>Salon mirror</em>
            </a> logo was created by ProSymbols and obtained from the
            <a href="https://thenounproject.com/">
                Noun Project
            </a>.
        </p>
    </footer>
</div>
