{% extends "layout.twig" %}

{% block nav %}
    {% include "nav.twig" %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Oh hi there!</h1>
        <p>
            Mirror-Mirror is a git repository synchronization service. Start by adding your SSH keys,
            repositores and mirrors. Mirrors provide a Trigger URL. Send a POST request to that URL and
            Mirror-Mirror will start synchronizing.
        </p>
        <p>
            Mirror-Mirror syncs <a href="/app/mirrors"><strong>{{ collections.mirror.count }} Mirrors</strong></a>
            for you, with a total of <a href="/app/repositories"><strong>{{ collections.repository.count }} Repositories</strong></a>.
            Up until now we completed <a href="/app/synchronizations"><strong>{{ collections.synchronization.count }} synchronizations</strong></a>.
        </p>
    </div>
{% endblock %}
