<div class="container">
    <footer class="page-footer">
        <p class="text-muted">
            {{ pkg.name }} is released under the terms of the {{ pkg.license }} and hosted on
            <a href="{{ pkg.homepage }}">Github</a>. Please Report issues <a href="{{ pkg.bugs.url }}">here</a>.<br>
            The <a href="https://thenounproject.com/term/salon-mirror/564089"><em>Salon mirror</em></a>
            logo was created by ProSymbols and obtained from the
            <a href="https://thenounproject.com/">Noun Project</a>.
        </p>
    </footer>
</div>
