<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mirror Mirror</title>
        <link rel="stylesheet" href="/static/css/bootswatch/bootstrap.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body>
        {% block nav %}{% endblock %}

        <main class="container">
            {% block content %}{% endblock %}
        </main>

        {% include "footer.twig" %}
    </body>
</html>
