{% extends "list.twig" %}

{% block secondary_headers %}
    <th>Trigger URL</th>
{% endblock %}

{% block footer %}
    <p class="text-info">You can append <code>?reverse</code> to the URL if you want to sync from the destination to the source repository.</p>

    <script src="/static/js/clipboard/clipboard.min.js"></script>
    <script src="/static/js/copy.js"></script>
{% endblock %}
