{% extends "layout.twig" %}

{% block content %}
    <header class="page-header page-header-left">
        <img class="logo" src="/static/img/logo.svg" alt="">
        <h1>
            Mirror-Mirror
            <small>
                A web application for synchronizing git repositories.
            </small>
        </h1>
    </header>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <form class="form clearfix" method="post" action="/login_check">
                    {{ form|raw }}

                    <div class="form-actions">
                        <div class="btn-toolbar pull-right">
                            <a href="/register" class="btn btn-link">Register</a>
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
